html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  color: white;
  font-size: 14px;
  text-align: center;
  background-image: url(./background.jpg);
  background-size: cover;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  display: table;
  margin: 10vh auto;
  padding:20px;
  height: 50vh;
}

main {
  font-size: 2rem;
}

.wrapper {
  width: 60%;
  max-width: 1440px;
  margin: 0 auto;
}

.tables {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 80%;
}

button:hover{
  background-color: black;
  color: white;
  opacity: 1;
}
form button {
  margin-top: 20px;
  border: none;
  padding: 5px;
}

input {
  display: block;
  margin: 10px auto;
}

.hide {
  color: #000;
  margin-bottom: 0;
}

.hide:hover,
.hide:active {
  background-color: white;
}

ul {
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  line-height: 40px;
}

li {
  border: 1px solid white;
  margin: 0;
  width: 150px;
}

h1 {
  font-size: 3rem;
}
h2 {
  text-align: left;
  padding: 5px;
}

.isPositive {
  color: green;
}

.isNegative {
  color: red;
}

.delete {
  background-color: transparent;
  border: 1px solid white;
}

.submit {
  position:relative;
  text-align: center;
  border: none;
  padding: 10px 10px;

}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

@media (max-width: 1000px) {
  header {
    margin-bottom: 5vh;
  }
  li {
    width: 100px;
  }
}

@media (max-width: 768px) {
  main {
    margin-bottom: 8vh;
  }
  li {
    width: 60px;
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .submit {
    top: 70vh;
    left: 30%;
  }
}
