
html{
    color: white;
    font-size: 16px;
    text-align: center;
    background-image: url(./background.jpg);
    
    background-size: cover;
}

main{
    font-size: 2rem;
}
.wrapper {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}
form label{
  background-color: rgba(0,0,0,0.7);
}
input {
    display:block;
}
input{
    margin: 0 auto;
}
.tables{
    display: flex;
    justify-content: center;
}
table {
    background-color: rgba(0,0,0,0.7);
    padding: 30px;
    margin: 30px 0;
}
td {
    text-transform: uppercase;  
}

h1{
    font-size: 3rem;
}
.calculation thead{
    display: flex;
}

.isPositive {
    color: greenyellow;
}
.isNegative {
    color: red;
}
.submit{
    width: 20%;
    line-height: 2rem;
    font-size: 1.5rem;
}
footer{
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
}