html {
  color: white;
  font-size: 14px;
  text-align: center;
  background-image: url(./background.jpg);
  background-size: cover;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  display: table;
  margin: 10vh auto;
  padding: 0 20px;
}

main {
  font-size: 2rem;
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

form button {
  margin-top: 20px;
}

input {
  display: block;
  margin: 10px auto;
}

.tables {
  display: flex;
  justify-content: center;
  position: relative;
}

table {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  margin: 30px 0;
}

.hide{
    color: #000;
}

.hide:hover,.hide:active{
    background-color: white;
}

td {
  text-transform: uppercase;

}

table, th, td{
    border: 1px solid white;
}
.calculation td, .calculation th{
    border: none;
}
h1 {
  font-size: 3rem;
}
h2 {
  text-align: left;
  padding: 5px;
}

.calculation thead {
  display: flex;
}

.calculation tbody tr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.isPositive {
  color: green;
}

.isNegative {
  color: red;
}

.submit {
  position: absolute;
  left: 50;
  bottom: -10px;
  font-size: 1.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

@media (max-width:768px) {
    header {
        margin-bottom: 5vh;
    }
}

@media (max-width:375px) {
    main {
        margin-bottom: 8vh;
    }
    table{
        padding: 0;
    }
}